/* --- FONTS --- */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* --- ALGEMEEN --- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* --- ALGEMEEN --- */

a,
button {
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  font-size: 15px;
}

button {
  padding: 9px 25px;
  background-color: #0088a9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  /* transition: all 0.3s ease 0s; */
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
  transition: 0.3s;
}

p {
  font-weight: 400;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h2 {
  font-size: 40px;
  text-align: center;
}

/* h2:before{
content: "o";
display: block;
} */

/* --- NAVIGATIE --- */

header {
  background-color: #24252a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  width: 100%;
  z-index: 10;
  flex-wrap: wrap;
}

.logo {
  width: 70px;
  cursor: pointer;
}

.navigatie {
  display: flex;
  gap: 0 60px;
  flex-wrap: wrap;
}

.navigatie li {
  list-style: none;

  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  font-size: 15px;
}

.navigatie {
  list-style: none;
}

.navigatie li a {
  padding-bottom: 5px;
  transition: 0.5s;
}

.navigatie li a:hover {
  color: #0088a9;
}

.navigatie li a:after {
  display: block;
  content: "";
  border-bottom: solid 3px #0088a9;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  margin-top: 5px;
}

.navigatie li a:hover:after {
  transform: scaleX(1);
}

/* main {
  width: 80%;
} */

/* --- BLOK2: BEGIN --- */

.begin {
  background-image: url("/images/overzicht-foto.png");
  background-color: blanchedalmond;
  height: 950px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.begin h1 {
  color: white;
  font-size: 50px;
  padding-top: 350px;
}

/* --- BLOK 3: OVERZICHT --- */

.overzicht {
  background-image: url("/images/Overzicht-pagina.png");
  background-size: cover;
  height: 700px;
  padding: 80px 0;
  margin-top: -220px;
  color: #edf0f1;
  background-position: top;
  position: relative;
}

.overzicht i {
  position: absolute;
  top: 20px;
  left: 50%;
  text-align: center;

  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.overzicht h2 {
  margin-bottom: 60px;
  text-align: center;
}

.overzicht ul {
  display: flex;
  gap: 50px;
  width: 60%;
  margin: auto;
}

.overzicht ul li {
  list-style-type: none;
  width: 50%;
}

.overzicht ul li img {
  width: 100%;
}

.overzicht ul li p {
  list-style-type: none;
}

/* --- TICKETS/OPENINGSTIJDEN --- */

.ticket {
  height: 500px;
  max-width: 100%;
}

.ticket h2 {
  margin-top: 15px;
}

.ticket h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.ticket h2,
h3 {
  color: #24252a;
}

.ticket > ul {
  padding: 15px;
  list-style-type: none;
  display: flex;
  width: 60%;
  text-align: center;
  margin: auto;
  gap: 100px;
}

.ticket > ul > li {
  width: 50%;
}

.ticket p {
  margin-bottom: 30px;
}

/* knop kopen */

.kopen {
  color: #edf0f1;
  padding: 9px 25px;
  background-color: #24252a;
  border-radius: 50px;
}
.kopen > :hover {
  background-color: rgba(255, 0, 0, 0.8);
  transition: 0.3s;
}

/* imageslider */

.fotoslider {
  padding: 32px;
  background-color: #24252a;
  height: 500px;
}

.slider-wrapper {
  position: relative;
  max-width: 768px;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 8px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 10px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 100;
}

/* --- GESCHIEDENIS --- */

.geschiedenis img {
  width: 90%;
}

.geschiedenis {
  height: 500px;
  max-width: 100%;
}

.geschiedenis h2 {
  margin-top: 15px;
}

.geschiedenis h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.geschiedenis h2,
h3 {
  color: #24252a;
}

.geschiedenis > ul {
  padding: 15px;
  list-style-type: none;
  display: flex;
  width: 60%;
  margin: auto;
  gap: 100px;
}

.geschiedenis > ul > li {
  width: 50%;
}

.geschiedenis p {
  margin-bottom: 30px;
}

/* <---GAME---> */

.game {
  text-align: center;
  margin-top: 200px;
  padding-top: 50px;
  background-color: #24252a;
}

.game canvas {
  margin-bottom: 100px;

}

@keyframes blink {
  0% {
    opacity: 50%;
    transform: scale(1.5) translateY(0px);
  }
  100% {
    opacity: 100%;
    transform: scale(1.5) translateY(10px);
  }
}
