/* --- FONTS --- */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* --- ALGEMEEN --- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html{
  scroll-behavior: smooth;
}

body {
  position: relative;
}


/* --- ALGEMEEN --- */

a,
button {
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  font-size: 15px;
}

button {
  padding: 9px 25px;
  background-color: #0088a9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  /* transition: all 0.3s ease 0s; */
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
  transition: 0.3s;
}

p {
  font-weight: 400;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h2 {
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
}

article {
  padding: 100px 0;
}

/* h2:before{
content: "o";
display: block;
} */

/* --- NAVIGATIE --- */

header {
  background-color: #24252a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  width: 100%;
  z-index: 10;
  flex-wrap: wrap;
}

.talen {
  position: absolute;
  display:flex;
  position:fixed;
  bottom:30px;
  z-index: 10;
  right: 0;
}

.talen img {
  width: 5vh;
  position: absolute;
  display:flex;
  position:fixed;
  bottom:30px;
  z-index: 10;
}

.eng {
  right:20px;

}

.nederland {
  right:80px;
}

.logo {
  width: 70px;
  cursor: pointer;
}

.navigatie {
  display: flex;
  gap: 0 60px;
  flex-wrap: wrap;
}

.navigatie li {
  list-style: none;

  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  font-size: 15px;
}

.navigatie {
  list-style: none;
}

.navigatie li a {
  padding-bottom: 5px;
  transition: 0.5s;
}

.navigatie li a:hover {
  color: #0088a9;
}

.navigatie li a:after {
  display: block;
  content: "";
  border-bottom: solid 3px #0088a9;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  margin-top: 5px;
}

.navigatie li a:hover:after {
  transform: scaleX(1);
}

.navigatie img {
  width: 30px;
  height: 20px;
  float: right;
}

/* main {
  width: 80%;
} */

/* --- BLOK2: BEGIN --- */

.begin {
  background-image: url("/images/overzicht-foto.png");
  background-color: blanchedalmond;
  height: 950px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 0;
}

.begin h1 {
  color: white;
  font-size: 50px;
  padding-top: 350px;
}

/* --- BLOK 3: OVERZICHT --- */

.overzicht {
  background-image: url("/images/Overzicht-pagina.png");
  background-size: cover;
  /* height: 700px; */
  padding: 80px 0;
  margin-top: -220px;
  color: #edf0f1;
  background-position: top;
  position: relative;
}

.overzicht i {
  position: absolute;
  top: 20px;
  left: 50%;
  text-align: center;

  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.overzicht h2 {
  margin-bottom: 60px;
  text-align: center;
}

.overzicht ul {
  display: flex;
  gap: 50px;
  width: 60%;
  margin: auto;
}

.overzicht ul li {
  list-style-type: none;
  width: 50%;
}

.overzicht ul li img {
  width: 100%;
}

.overzicht ul li p {
  list-style-type: none;
  padding-bottom: 50px;
}

/* --- TICKETS/OPENINGSTIJDEN --- */

.ticket {
  /* height: 500px; */
  max-width: 100%;
}

.ticket h2 {
  margin-top: 15px;
}

.ticket h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.ticket h2,
h3 {
  color: #24252a;
}

.ticket > ul {
  padding: 15px;
  list-style-type: none;
  display: flex;
  width: 60%;
  text-align: center;
  margin: auto;
  gap: 100px;
}

.ticket > ul > li {
  width: 50%;
  text-align: left;
}

.ticket p {
  margin-bottom: 30px;
}

/* knop kopen */

.kopen {
  color: #edf0f1;
  padding: 9px 25px;
  background-color: #24252a;
  border-radius: 50px;
}
.kopen > :hover {
  background-color: rgba(255, 0, 0, 0.8);
  transition: 0.3s;
}

/* Imageslider */

.fotoslider {
  background-color: #24252a;
}

.slider-wrapper {
  position: relative;
  max-width: 768px;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 8px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 10px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 100;
}

/* --- GESCHIEDENIS --- */

.geschiedenis img {
  width: 90%;
  box-shadow: 10px 10px #24252a;
}

.geschiedenis {
  max-width: 100%;
}

.geschiedenis h2 {
  margin-top: 15px;
}

.geschiedenis h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.geschiedenis h2,
h3 {
  color: #24252a;
}

.geschiedenis > ul {
  padding: 15px;
  list-style-type: none;
  display: flex;
  width: 60%;
  margin: auto;
  gap: 100px;
  margin-bottom: 20px;
}

.geschiedenis > ul > li {
  width: 50%;
}

.geschiedenis p {
  margin-bottom: 30px;
}

/* <---Game---> */

.game {
  text-align: center;
  /* margin-top: 200px; */
  padding-top: 30px;
  background-color: #24252a;
}

.game h2 {
  margin-bottom: 20px;
  color: #edf0f1;
}

.game canvas {
  margin-bottom: 40px;
}

/* --- Comments --- */

.comments {
  display: flex;
  gap: 0 50px;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}

.comments section {
  width: calc(33.3333% - 50px);
  text-align: left;
  box-shadow: 10px 10px #24252a;
  margin-bottom: 50px;
  padding: 30px;
  background-color: rgb(236, 236, 236);
}

.reviews {
  background-color: #24252a;
  /* height: 	600px; */
}

.comments h2 {
  width: 100%;
}

.comments h4 {
  padding-bottom: 5px;
}

.comments section p:nth-child(2) {
  padding-bottom: 10px;
}

.comments i {
  color: lightgray;
  float: right;
  cursor: pointer;
}

/* Liken */
.liked i {
  color: red;
}

.datum {
  position: absolute;
  font-size: 15px;
  color: rgba(112, 112, 112, 0.637);
}

/* Contact formulier */

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.contact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.kolom {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  width: 100%;
  border-radius: 5px;
  background-color: #24252a;
  padding: 20px;
  width: 100%;
}

/* --- TICKETS/OPENINGSTIJDEN --- */

.locatie {
  max-width: 100%;
  background-color: #24252a;
}

.locatie h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #edf0f1;
}

.locatie h2 {
  color: #edf0f1;
}

.locatie > ul {
  padding: 15px;
  list-style-type: none;
  display: flex;
  width: 80%;
  text-align: center;
  margin: auto;
  gap: 100px;
}

.locatie > ul > li {
  width: 50%;
  color: #edf0f1;
}

.locatie li:nth-child(1) {
  padding-top: 50px;
}

.map ul {
  width: 100%;
}

.map iframe {
  width: 100%;
  height: 400px;
}

.map li {
  display: block;
  text-align: left;
}

.map li p {
  padding-top: 30px;
}

.container {
  width: 100%;
}

/* Footer */
.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}


@keyframes blink {
  0% {
    opacity: 50%;
    transform: scale(1.5) translateY(0px);
  }
  100% {
    opacity: 100%;
    transform: scale(1.5) translateY(10px);
  }
}

@media only screen and (max-width: 1000px) {
  .kolom,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }

  .locatie ul {
    width: 80%;
    flex-wrap: wrap;
  }

   .comments section {
    width: 45%;
  }

  .geschiedenis ul {
    flex-wrap: wrap;
  }

  .footer-basic ul {
    flex-direction: column;

  }

  .locatie > ul > li, .geschiedenis > ul > li , .geschiedenis > ul > li  img {
    width: 100%;
  }
  .oi{
    flex-direction: column-reverse;
  }

  .geschiedenis > ul {
    gap: 0;
    width: 80%;
  }

  .ticket > ul {
    width: 80%;
    flex-wrap: wrap;
    display: block;
    margin: auto;
  }
  
  .ticket > ul > li {
    width: 100%;
    text-align: left;
    padding-bottom: 50px;
  }

  .overzicht ul {
    width: 100%;
    flex-wrap: wrap;
  }
  
  .overzicht ul li {
    width: 80%;
    display: block;
    margin: auto;
  }

  h2 {
    font-size: 26px;
    padding-bottom: 25px;
  }
  
  .game canvas {
    width: 300px;
  }

}



  @media only screen and (max-width: 600px) { 
     .comments section {
      width: 100%;
    }
    }